

.card {
    height: 100%;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: contain;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .card-title {
    text-align: center;
    font-size: 1.25rem;
  }
  
  .card-text {
    text-align: center;
    margin: 1rem 0;
  }
  